<launch>
  <arg name="ns" default="sim_p3at"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.2"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find p3at_sim)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Use wrapper xacro with depth camera -->
  <param name="robot_description"
         command="xacro --inorder $(find p3at_sim)/urdf/p3at_with_depth.urdf.xacro"/>

  <group ns="$(arg ns)">
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_p3at"
          args="-urdf -param /robot_description -model $(arg ns)
                -x $(arg x) -y $(arg y) -z $(arg z)"/>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
</launch>
