<launch>
  <arg name="use_gazebo_target" default="true"/>
  <arg name="use_rviz_goal_relay" default="false"/>
  <arg name="robot_model_name" default="p3at"/>
  <arg name="camera_frame" default="rgbd_camera"/>
  <arg name="standoff_distance" default="0.0"/>
  <arg name="face_target" default="false"/>
  <arg name="target_timeout" default="2.0"/>
  <arg name="enable_auto_explore" default="false"/>
  <arg name="close_approach_threshold" default="1.15"/>
  <arg name="close_approach_timeout" default="18.0"/>
  <arg name="close_approach_speed" default="0.10"/>
  <arg name="close_approach_steer_gain" default="0.50"/>
  <arg name="move_target" default="false"/>
  <arg name="target_speed" default="0.4"/>
  <arg name="target_pause" default="1.0"/>
  <arg name="target_waypoints"
       default="[[2.8,0.0],[2.8,1.8],[0.6,1.8],[0.6,-1.8],[2.8,-1.8],[2.8,0.0]]"/>

  <!-- Option A: Follow a Gazebo model called "target" -->
  <group if="$(arg use_gazebo_target)">
    <node pkg="target_follower" type="gazebo_target_publisher.py" name="gazebo_target_publisher" output="screen">
      <param name="model_name" value="target"/>
      <!-- Publish target pose relative to the robot so the frame exists in TF -->
      <param name="robot_model_name" value="$(arg robot_model_name)"/>
      <param name="reference_frame" value="$(arg robot_model_name)::base_footprint"/>
      <param name="out_frame" value="base_footprint"/>
      <param name="topic" value="/target_pose"/>
      <param name="rate_hz" value="10.0"/>
    </node>
  </group>

  <!-- Option B: Use RViz "2D Nav Goal" as a manual target source -->
  <group if="$(arg use_rviz_goal_relay)">
    <node pkg="target_follower" type="goal_to_target_relay.py" name="goal_to_target_relay" output="screen"/>
  </group>

  <!-- Dynamic target: move the Gazebo "target" model along waypoints -->
  <group if="$(arg move_target)">
    <node pkg="target_follower" type="move_target.py" name="move_target" output="screen">
      <param name="model_name" value="target"/>
      <param name="speed" value="$(arg target_speed)"/>
      <param name="pause" value="$(arg target_pause)"/>
      <param name="loop" value="true"/>
      <rosparam param="waypoints" subst_value="true">$(arg target_waypoints)</rosparam>
    </node>
  </group>

  <!-- Follower: sends goals to move_base -->
  <node pkg="target_follower" type="target_follower.py" name="target_follower" output="screen">
    <param name="target_topic" value="/target_pose"/>
    <param name="global_frame" value="map"/>
    <param name="robot_frame" value="base_link"/>
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="send_rate_hz" value="2.0"/>
    <param name="min_update_dist" value="0.25"/>
    <!-- Following cares about position; ignore orientation to avoid spin-in-place -->
    <param name="use_target_orientation" value="false"/>
    <param name="target_timeout_s" value="$(arg target_timeout)"/>
    <!-- Stop this many metres short of the target (0 = go all the way) -->
    <param name="standoff_distance" value="$(arg standoff_distance)"/>
    <!-- Orient the robot to face the target at the goal position -->
    <param name="face_target" value="$(arg face_target)"/>
    <param name="enable_auto_explore" value="$(arg enable_auto_explore)"/>
    <param name="close_approach_threshold" value="$(arg close_approach_threshold)"/>
    <param name="close_approach_timeout_s" value="$(arg close_approach_timeout)"/>
    <param name="close_approach_speed" value="$(arg close_approach_speed)"/>
    <param name="close_approach_steer_gain" value="$(arg close_approach_steer_gain)"/>
  </node>
</launch>
