<launch>
  <arg name="use_gazebo_target" default="true"/>
  <arg name="use_rviz_goal_relay" default="false"/>
  <arg name="use_point_target_bridge" default="false"/>
  <arg name="point_target_topic" default="/trash_detection/target_point"/>
  <arg name="point_target_frame" default=""/>
  <arg name="robot_model_name" default="p3at"/>
  <arg name="standoff_distance" default="0.0"/>
  <arg name="face_target" default="false"/>

  <!-- Option A: Follow a Gazebo model called "target" -->
  <group if="$(arg use_gazebo_target)">
    <node pkg="target_follower" type="gazebo_target_publisher.py" name="gazebo_target_publisher" output="screen">
      <param name="model_name" value="target"/>
      <!-- Publish target pose relative to the robot so the frame exists in TF -->
      <param name="robot_model_name" value="$(arg robot_model_name)"/>
      <param name="reference_frame" value="$(arg robot_model_name)::base_footprint"/>
      <param name="out_frame" value="base_footprint"/>
      <param name="topic" value="/target_pose"/>
      <param name="rate_hz" value="10.0"/>
    </node>
  </group>

  <!-- Option B: Use RViz "2D Nav Goal" as a manual target source -->
  <group if="$(arg use_rviz_goal_relay)">
    <node pkg="target_follower" type="goal_to_target_relay.py" name="goal_to_target_relay" output="screen"/>
  </group>

  <!-- Option C: Relay detector point targets to /target_pose -->
  <group if="$(arg use_point_target_bridge)">
    <node pkg="target_follower" type="point_to_target_pose.py" name="point_to_target_pose" output="screen">
      <param name="in_point_topic" value="$(arg point_target_topic)"/>
      <param name="out_target_topic" value="/target_pose"/>
      <param name="override_frame" value="$(arg point_target_frame)"/>
    </node>
  </group>

  <!-- Follower: sends goals to move_base -->
  <node pkg="target_follower" type="target_follower.py" name="target_follower" output="screen">
    <param name="target_topic" value="/target_pose"/>
    <param name="global_frame" value="map"/>
    <param name="robot_frame" value="base_link"/>
    <param name="send_rate_hz" value="2.0"/>
    <param name="min_update_dist" value="0.25"/>
    <!-- Following cares about position; ignore orientation to avoid spin-in-place -->
    <param name="use_target_orientation" value="false"/>
    <param name="target_timeout_s" value="2.0"/>
    <!-- Stop this many metres short of the target (0 = go all the way) -->
    <param name="standoff_distance" value="$(arg standoff_distance)"/>
    <!-- Orient the robot to face the target at the goal position -->
    <param name="face_target" value="$(arg face_target)"/>
  </node>
</launch>
