<launch>
  <arg name="gui" default="true"/>
  <arg name="use_gazebo_target" default="true"/>
  <arg name="use_rviz_goal_relay" default="false"/>
  <arg name="use_target_follower" default="$(arg use_gazebo_target)"/>
  <arg name="standoff_distance" default="0.0"/>
  <arg name="face_target" default="false"/>

  <include file="$(find p3at_lms_gazebo)/launch/sim.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- slam_gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam file="$(find p3at_lms_navigation)/param/gmapping.yaml" command="load"/>
    <remap from="scan" to="/scan"/>
  </node>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="false">
    <rosparam file="$(find p3at_lms_navigation)/param/costmap_common.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find p3at_lms_navigation)/param/costmap_common.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find p3at_lms_navigation)/param/global_costmap.yaml" command="load"/>
    <rosparam file="$(find p3at_lms_navigation)/param/local_costmap.yaml" command="load"/>
    <rosparam file="$(find p3at_lms_navigation)/param/move_base.yaml" command="load"/>
  </node>

  <!-- Target following (disabled when use_target_follower:=false for manual goal testing) -->
  <include file="$(find target_follower)/launch/target_follow.launch" if="$(arg use_target_follower)">
    <arg name="use_gazebo_target" value="$(arg use_gazebo_target)"/>
    <arg name="use_rviz_goal_relay" value="$(arg use_rviz_goal_relay)"/>
    <arg name="standoff_distance" value="$(arg standoff_distance)"/>
    <arg name="face_target" value="$(arg face_target)"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find p3at_lms_navigation)/rviz/nav.rviz" required="false"/>
</launch>
